html {
  font-family: Verdana, sans-serif;
}

section {
  background-color: #bea586;
  background-image: url("../images/sloth-bg.svg");
  background-size: 48px auto;
  background-repeat: repeat;
  background-position: left top;
}

.article {
  max-width: 608px;
  margin: 0 auto;
  background-color: white;
}

.banner {
  position: relative;
  background-image: linear-gradient(to top, rgba(28, 14, 0, 0) 70%, rgba(28, 14, 0, .8)), url("../images/sloth-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  filter: blur(.5px);
}

.container {
  border-top: 2px solid rgba(28, 14, 0, .6);
  border-bottom: 2px solid rgba(28, 14, 0, .6);
}

.banner-content {
  padding-top: 200px;
}

h1 {
  position: absolute;
  top: .4em;
  font-family: Georgia, serif;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  filter: drop-shadow(2px 2px 0 rgba(28, 14, 0, 1));
}

figure {
  border-top: 2px solid rgba(28, 14, 0, .6);
  border-bottom: 2px solid rgba(28, 14, 0, .6);
}

img {
  filter: blur(.5px);
}

a {
  color: black;
}

figcaption {
  font-family: Georgia, serif;
}

.text {
  padding-top: .1625rem;
}

@media only screen and (min-width: 38em) {

  .text {
    padding-top: 0;
  }
}

@media only screen and (min-width: 60em) {

  .article {
    max-width: 690px;
  }
}

@media only screen and (min-width: 90em) {

  .article {
    max-width: 747px;
  }

  .text {
    padding-top: 0;
  }

  .banner {
    background-image: linear-gradient(to top, rgba(28, 14, 0, 0) 78%, rgba(28, 14, 0, .8)), url("../images/sloth-3.jpg");
    filter: blur(0);
    padding-bottom: .1rem;
  }

  img {
    filter: blur(0);
  }

  h1 {
    top: .3em;
    filter: drop-shadow(3px 3px 0 rgba(28, 14, 0, 1));
  }

}
